Brotli @ file:///D:/bld/brotli-split_1602260127470/work
certifi==2020.6.20
click==7.1.2
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1602531952329/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1600319259726/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1599715712112/work
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1601046708302/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1599810523485/work
Flask==1.1.2
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1602267119698/work
future @ file:///D:/bld/future_1602538622201/work
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
MarkupSafe @ file:///D:/bld/markupsafe_1602267688190/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1601563174572/work
PyYAML==5.3.1
regex @ file:///C:/ci/regex_1602770568056/work
retrying==1.3.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
Werkzeug==1.0.1
wincertstore==0.2
